html,
body {
  margin: 0;
  font-family: AvenirNextRegular;
  line-height: 1.8rem;
  height: 100vh;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

//variables
@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/typography";

//components
@import "./partials/app";
@import "./partials/header";
@import "./partials/mainVideo";
@import "./partials/mainVideoDetails";
@import "./partials/comments";
@import "./partials/commentsList";
@import "./partials/nextVideo";
