.upload {
  margin: 0 5vw;

  &__hr--mobile {
    height: 1px;
    color: $mercury;
    background-color: $mercury;
    border: none;
  }

  &__heading {
    margin: 24px 0 32px;
  }

  &__hr--tablet-desk {
    visibility: collapse;
    height: 1px;
    color: $mercury;
    background-color: $mercury;
    border: none;
  }

  &__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__thumb-heading {
    color: $silver;
  }

  &__thumbnail {
    width: 100%;
    height: 153px;
    margin-right: 24px;
  }

  &__form-section {
    margin-top: 32px;
    width: 100%;
  }

  &__input-title {
    width: 100%;
    background-color: $alabaster;
    border: 2px solid $mercury;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 12px;
    outline: none;
    font-family: AvenirNextRegular;

    &:focus {
      border-color: $brainflix-blue;
      outline: none;
    }
  }

  &__input-description {
    width: 100%;
    background-color: $alabaster;
    height: 143px;
    line-height: 24px;
    border: 2px solid $mercury;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 8px;
    outline: none;
    font-family: AvenirNextRegular;

    &:focus {
      border-color: $brainflix-blue;
      outline: none;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  &__btn-cancel {
    background-color: transparent;
    color: $brainflix-blue;
    font-weight: 600;
    border: none;
    padding: 24px;
    margin-bottom: 24px;
    width: 100%;
    height: 48px;
    outline: none;

    &:hover {
      color: $brainflix-blue-hover;
    }
  }

  &__btn-publish {
    background-color: $brainflix-blue;
    color: $white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12px;
    // margin: 0 0 0 24px;
    width: 100%;
    height: 48px;
    outline: none;

    &:hover {
      background-color: $brainflix-blue-hover;
    }
  }
}

@include medium {
  .upload {
    margin: 0 3.125vw;
    &__hr--tablet-desk {
      visibility: visible;
      margin-bottom: 40px;
    }

    &__thumbnail {
      width: 344px;
      height: 183px;
      margin-right: 24px;
    }

    &__input-description {
      margin-bottom: 32px;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &__btn-cancel {
      width: 160px;
      padding: 0;
    }

    &__btn-publish {
      width: 160px;
    }
  }
}

@include huge {
  .upload {
    margin: 0 12.5vw;

    &__details {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__form-section {
      margin: 0;
    }

    &__input-description {
      height: 94px;
    }
  }
}
