.video {
  background-color: $real-black;
  display: flex;
  justify-content: center;

  &__player {
    object-fit: cover;
    height: 183px;
    width: 100vw;
    margin: 0;

    &__divider {
      margin: 24px 0;
    }
  }
}

@include medium {
  .video__player {
    width: 700px;
    height: 400px;
  }
}

@include huge {
  .video__player {
    width: 944px;
    height: 540px;
  }
}
