.next-video {
  margin: 0 5vw;
  &__next-video__list {
  }

  &__heading {
    color: $silver;
    margin: 40px 0 40px 0;
  }

  &__video {
    width: 120px;
    height: 70px;
    margin-right: 16px;
    border-radius: 4px;
  }

  &__item {
    display: flex;
    justify-self: start;
    margin-bottom: 16px;
  }

  &__left {
    width: fit-content;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    font-weight: 900;
    margin-bottom: 16px;

    &--cut {
      display: inline-block;
    }
    &--full {
      display: none;
    }
  }
}

@include medium {
  .next-video {
    &__title {
      &--cut {
        display: none;
      }
      &--full {
        display: inline-block;
      }
    }
  }
}

@include huge {
  .next-video {
    display: flex;
    border-left: 2px solid $silver;
    margin: 0;
    padding-right: 16px;

    &__heading {
      padding-left: 16px;
    }

    &__video {
      padding-left: 16px;
    }

    &__title {
      &--cut {
        display: none;
      }
      &--full {
        display: inline-block;
      }
    }
  }
}
