$black: #323232;
$instock-blue: #004892;
$brainflix-blue: #0095ff;
$white: #ffffff;
$silver: #afafaf;
$dark-silver: #646464;
$instock-blue-dark: #002f5f;
$alabaster: #fafafa;
$mercury: #e1e1e1;
$red: #ff0000;
