.comments-list {
  margin: 0 5vw;

  &__item {
    display: flex;
    justify-content: flex-start;
  }

  &__divider {
    margin: 24px 0;
  }

  &__user-picture {
    width: 44px;
    height: 44px;
    clip-path: circle(21px at center);
    margin-right: 16px;
  }

  &__left {
    width: fit-content;
  }

  &__right {
    &-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__name {
    font-weight: 900;
  }

  &__date {
    color: $silver;
  }
}
