.video {
  &__player {
    background-color: $real-black;
    height: 183px;
    width: 100vw;
    margin: 0;

    &__divider {
      margin: 24px 0;
    }
  }
}

@include medium {
  .video__player {
    height: 400px;
  }
}

@include huge {
  .video__player {
    height: 540px;
  }
}
